# ==========================
# UI
# ==========================
BASE_URL=http://localhost:8080

# ==========================
# API
# ==========================
API_BASE_URL=http://localhost:8000


# Tài khoản admin dùng để gọi API setup/teardown dữ liệu test
ADMIN_API_SECRET=1f6e5d3c0a2e7b4d6f9a8c1e5b7d3a1c2f4e6d8b9c0a1e2d3f4b5c6d7e8f9bo
SECRET_KEY=8f6e5d3c0a2e7b4d6f9a8c1e5b7d3a1c2f4e6d8b9c0a1e2d3f4b5c6d7e8f9a0
# Password mặc định dùng chung cho user test
TEST_USER_PASSWORD=123456
